body{
    color: black;
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background-color: lightblue;
    padding: 20px;
}
nav {
    background-color: rgb(62, 177, 215);
    padding: 10px;
}
footer{
    background-color: pink;
    padding:40px 20px;
}
aside{
    background-color: antiquewhite;
    padding: 10px;
    flex-basis: 20%;
}
aside:last-child
{
    flex-basis: 10%;
    background-color: lightgray;
    /*display: none;*/
}
main{
    background-color: white;
    padding: 20px;
    flex-basis: 70%;
    height: 200px;
}
.container{
    display: flex;
    flex-grow: 1;
}

/*Media Queries*/
@media screen and (max-width: 800px) {
    aside:last-child
    {
        display: none;
    }
    main{
        /* background-color: red; */
        flex-basis:70% ;
    }
    aside:first-child{
        flex-basis:30% ;
    }
    
}

@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
    }
    main{
        order: -1;
    }
    aside:last-child
    {
        display: block;
    }
}